@tailwind base;
@tailwind components;

@font-face {
  font-family: 'PTserif';
  src: url(./fonts/PTserifBook.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTserif';
  src: url(./fonts/PTserifDemi.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTserif';
  src: url(./fonts/PTSerifBookIta.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

@tailwind utilities;

.hover {
  @apply hover:bg-k-blue hover:bg-opacity-10;
}

.reset {
  color: currentColor !important;
}

.zavin::before {
  content: "@";
}
