@tailwind base;
@tailwind components;

@font-face {
  font-family: 'PTserif';
  src: url(./fonts/PTserifBook.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTserif';
  src: url(./fonts/PTserifDemi.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTserif';
  src: url(./fonts/PTSerifBookIta.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

@tailwind utilities;

.hover, .hover-blue {
  @apply hover:bg-k-blue hover:bg-opacity-10 focus:bg-opacity-10;
}
.hover-green {
  @apply hover:bg-k-green hover:bg-opacity-10 focus:bg-opacity-10;
}
.hover-brown {
  @apply hover:bg-k-brown hover:bg-opacity-5 focus:bg-opacity-5;
}
.rounded-info {
  @apply rounded-full bg-k-xl-gray bg-opacity-75 border border-k-xl-gray
}

h5 + * {
  margin-top: 0 !important;
}

.front h5 {
  margin-top: 0 !important;
}

.reset {
  color: currentColor !important;
}
.text-left-f {
  text-align: left !important;
}
.text-right-f {
  text-align: right !important;
}
.text-ext {
  font-size: 0.875em;
}
p.text-ext {
  margin-top: 0.875em !important;
  margin-bottom: 0.875em !important;
}


.mt-s2 {
  margin-top: -0.5rem !important
}
.mt-s4 {
  margin-top: -1rem !important
}
.mt-s5 {
  margin-top: -1.25rem !important
}

.zavin::before {
  content: "@";
}

.anchor {
  position: relative;
}
.anchor span {
  @apply absolute -top-24 lg:-top-28 
}
